<div class="flex h-14 justify-between bg-blue-400"> 
  <div class=''>

  </div>

  <div class='m-3'>
    <p class='text-2xl text-white'>TicTalk</p>
  </div>

  <div class='m-5'>
     <% if user_signed_in? %>
      <%= link_to 'Sign out', session_path(session[:user_id]), method: :delete, class: 'bg-gray-200 p-1 px-2 rounded-md' %>
    <% else %>
      <%= link_to 'Sign Up', new_user_path, class: 'bg-gray-200 p-1 px-2 rounded-md' %>
    <%end%>
  </div>

 
</div>